body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  min-height: 100vh; }

.side {
  width: 50%; }

.left {
  background: green;
  position: fixed;
  height: 100vh; }

.right {
  right: 0;
  position: absolute;
  background: blue;
  color: white; }
  .right .content {
    padding: 2em; }

canvas {
  width: 100%;
  height: 100%; }
