body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.side {
    width: 50%;
}

.left {
    background: green;
    position: fixed;
    height: 100vh;
}

.right {
    right: 0;
    position: absolute;
    background: blue;
    color: white;

    .content {
        padding: 2em;
    }
}
